/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.e2e
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/playwright-report
/test-results
/database/e2e.sqlite
/.fleet
/.idea
/.codex
/.nova
/.vscode
/.cursor
/.zed
